In [1]:
import pickle
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("spam.csv",encoding="latin1", names=["label", "messages"], usecols=[0,1])

In [3]:
data.head()

  label                                           messages
0    v1                                                 v2
1   ham  Go until jurong point, crazy.. Available only ...
2   ham                      Ok lar... Joking wif u oni...
3  spam  Free entry in 2 a wkly comp to win FA Cup fina...
4   ham  U dun say so early hor... U c already then say...

In [4]:
data = data[1:]

In [5]:
data["label"] = data["label"].map({"ham": 0, "spam": 1})

In [6]:
data

      label                                           messages
1         0  Go until jurong point, crazy.. Available only ...
2         0                      Ok lar... Joking wif u oni...
3         1  Free entry in 2 a wkly comp to win FA Cup fina...
4         0  U dun say so early hor... U c already then say...
5         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5568      1  This is the 2nd time we have tried 2 contact u...
5569      0              Will Ì_ b going to esplanade fr home?
5570      0  Pity, * was in mood for that. So...any other s...
5571      0  The guy did some bitching but I acted like i'd...
5572      0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

vectorizer = CountVectorizer(stop_words="english")  
X_counts = vectorizer.fit_transform(data["messages"])  

tfidf_transformer = TfidfTransformer()
X_tfidf = tfidf_transformer.fit_transform(X_counts)

y = data["label"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_tfidf, y, test_size=0.2, random_state=42)

print(f"Training samples: {X_train.shape[0]}, Testing samples: {X_test.shape[0]}")

Training samples: 4457, Testing samples: 1115

In [9]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

model = MultinomialNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy * 100:.2f}%")

Model Accuracy: 96.86%

In [10]:
import pickle

with open("spam_model.pkl", "wb") as f:
    pickle.dump((model, vectorizer), f)

print("Model saved.")

Model saved.

In [11]:
with open("spam_model.pkl", "rb") as f:
    model, vectorizer = pickle.load(f)

# Test a message
test_message = ["Congratulations! You won a free iPhone!"]
X_test_vec = vectorizer.transform(test_message)
prediction = model.predict(X_test_vec)

print("Spam" if prediction[0] == 1 else "Not Spam")

Spam